body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table img {
    height:20px;
}
table {
    box-shadow: rgba(1,1,20,0.3) 0px 0px 100px;
}
/* Loading animation from codrops */
.loading-animation {
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 300px;
    background:rgba(1,100,200,0.3);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
	transform: translateX(100%) translateY(-100%) rotate(45deg);
	pointer-events: none;
}

.loading-animation.la-animate {
	-webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
	transform: translateX(50%) translateY(-50%) rotate(45deg);
}

/* Loading circle idea from http://codepen.io/Metty/details/lgJck */
.loading-animation::before,
.loading-animation::after {
	position: absolute;
	bottom: 30px;
	left: 50%;
	display: block;
	border: 5px solid #fff;
	border-radius: 50%;
	content: '';
}

.loading-animation::before {
	margin-left: -40px;
	width: 80px;
	height: 80px;
    border-right-color:rgba(1,100,200,0.3);
    border-left-color:rgba(1,100,200,0.3);
	/* border-right-color: #bb344f; */
	/* border-left-color: #bb344f; */
	-webkit-animation: rotation 3s linear infinite;
	animation: rotation 3s linear infinite;
}

.loading-animation::after {
	bottom: 50px;
	margin-left: -20px;
	width: 40px;
	height: 40px;
    border-right-color:rgba(1,100,200,0.3);
    border-left-color:rgba(1,100,200,0.3);
}


@-webkit-keyframes rotation {
	0% 		{ -webkit-transform: rotate(0deg); }
	50% 	{ -webkit-transform: rotate(180deg); }
	100% 	{ -webkit-transform: rotate(360deg); }
}

@keyframes rotation {
	0% 		{ transform: rotate(0deg); }
	50% 	{ transform: rotate(180deg); }
	100% 	{ transform: rotate(360deg); }
}

.error {
    color: crimson;
}

#header {
    width: 98%;
    text-align: center;
    position:relative;
    box-shadow: rgba(1,1,20,0.3) 0px 0px 100px;
    padding: 1%;
    border-radius:5px;
}

#header img {
    width: 100%;
}

.loading-message {
    position:absolute;
    top:50%;
    left:50%;
    margin-left: -7em;
    width:14em;
    display:block;
    text-align:center;
    background:rgba(1,100,200,0.3);
    padding:1em;
    box-shadow: rgba(1,10,40,0.3) 0px 0px 30px;
    border-radius:3px;
}
